*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-list .card-item .card-link{
    width: 400px;
    display: block;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    overflow: hidden;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 /9;
    object-fit: cover;
    border-radius: 10px;

}

.card-list .card-link{
    color: blue;
    padding: 8px 12px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background-color: black;
}